<?xml version="1.0"?>
<appSettings>
  <add key="adminUsername" value="trade-admin" />
  <add key="adminPassword" value="trd9572x" />
  <add key="smtpServer" value="mail.kuwana-kic.com" />
  <add key="smtpUsername" value="smtp@kuwana-kic.com" />
  <add key="smtpPassword" value="webmail4456" />
  <add key="webmailRecipient" value="trade@kuwana-kic.com" />
  <add key="webmailSubject" value="Email from trading.kuwana-kic.com website" />
</appSettings>