<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="Localization">
      <section name="Localization" type="Localization.LocalizationConfigurationHandler, Localization"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="adminUsername" value="trade-admin" />
    <add key="adminPassword" value="trd9572x" />
    <add key="smtpServer" value="mail.kuwana-kic.com" />
    <add key="smtpUsername" value="smtp@kuwana-kic.com" />
    <add key="smtpPassword" value="webmail4456" />
    <add key="webmailRecipient" value="jmusician@eml.cc" />
    <add key="webmailSubject" value="Email from trading.kuwana-kic.com website" />
  </appSettings>
  
	<connectionStrings/>
	<system.web>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="Localized" namespace="Localization" assembly="Localization" />
        <add tagPrefix="jjm" namespace="jjm.CustomControls" assembly="CustomControls" />
        <add src="~/Controls/DynamicEdit.ascx" tagPrefix="jjx" tagName="de" />
        <!--add src="~/Controls/DynamicEditPage.ascx" tagPrefix="jjx" tagName="dep"  /-->
      </controls>
    </pages>
    
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Templates/ErrorPage.aspx">
      <error statusCode="404" redirect="~/Templates/FileNotFound.aspx" />
    </customErrors>

    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>

  </system.web>

  <Localization>
    <Localization defaultCulture="en-US" languageFilePath="F:\Justin\Projects\Clients\Taiyo Bussan\Trading\Solution\Web\Resources\Languages"/>
  </Localization>
</configuration>
