<?xml version="1.0"?>
<appSettings>
  <add key="adminUsername" value="kic-admin" />
  <add key="adminPassword" value="kiccyx3145" />
  <add key="smtpServer" value="mail.kuwana-kic.com" />
  <add key="smtpUsername" value="smtp@kuwana-kic.com" />
  <add key="smtpPassword" value="webmail4456" />
  <add key="webmailRecipient" value="ailton@kuwana-kic.com" />
  <add key="webmailSubject" value="Email do Web site de KIC" />
</appSettings>